.header {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 0 1rem;
    height: 4.2rem;
    font-size: 0.8em;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    span {
        font-size: 1.7rem;
        cursor: pointer;
    }
}

