body {
    color: var(--font-color);
    font-family: "OpenSans-Regular", sans-serif;

    &, &[data-theme="dark"] {
        --background-color: #151618;
        --font-color: #e8e8e8;
        --primary-color: #343639;
        --secondary-color: #242528;
        --secondary-color-hover: #2e2f32;
        --divider-background-color: #ffffff99;
    }

    &[data-theme="light"] {
        --background-color: #eeeeee;
        --font-color: #333333;
        --primary-color: #646669;
        --secondary-color: #444548;
        --divider-background-color: #000000bb;
    }
}

.main {
    margin: 10rem auto 4.2rem auto;
    max-width: 40rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    flex: 1;
    line-height: 1.6rem;

    section {
        margin: 0 auto;
        width: 100%;

        &.centered {
            text-align: center;
        }

        &.quick-start {
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

    ul {
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1rem;

        a {
            position: relative;
            background-color: var(--primary-color);
            padding: 0.3rem 0.8rem;
            border-radius: 4px;
            color: #ffffff;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.3rem;
            transition: 0.1s ease-in-out;

            svg {
                width: 1.3rem;
            }

            &:hover {
                background-color: #444649;
            }

            &:active {
                background-color: #2b2d2f;
                top: 2px;
            }
        }
    }

    .divider {
        width: 20%;
        margin: 1rem auto;
        height: 2px;
        border-radius: 50%;
        background-color: var(--divider-background-color);
    }
}

@media (width <= 1000px) {
    body {
        font-size: 0.9rem;
    }

    .main {
        margin-top: 6rem;
    }
}
